<!doctype html>
<html class="no-js no-treesaver">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>Sample Treesaver Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="resources" href="../static/resources.html">
    <script src="../static/treesaver.js"></script>
  </head>

  <body>
    <article>
      <p>This is an example of a page using Treesaver for layout. It is not very exciting right now.</p>
      <p>hello world!</p>
    </article>
  </body>
</html>
